@{
    ViewData["Title"] = "Welcome Page";
    //var user = ViewData["UserInfo"] as mvc_andy.Models.com.UserModel;
}

<div class="jumbotron">
  <h1 class="display-4">Welcome Person</h1>
  <p class="lead">欢迎你使用xx管理系统.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
