@{
  Layout = "_Layout";
    ViewData["Title"] = "Info Page";
    //var user = ViewData["UserInfo"] as mvc_andy.Models.com.UserModel;
}

<div class="jumbotron">
  <h1 class="display-4">system info.</h1>
  <p class="lead">show system info.</p>
  <hr class="my-4">
  <p>666.</p>
</div>
